[submodule "cosmos-sdk"]
	path = cosmos-sdk
	url = ../cosmos-sdk.git
[submodule "dysvm/go-embed-python"]
	path = dysvm/go-embed-python
	url = ../go-embed-python.git
[submodule "dysvm/python-build-standalone"]
	path = dysvm/python-build-standalone
	url = ../python-build-standalone.git
[submodule "dysvm/cpython"]
	path = dysvm/cpython
	url = https://github.com/python/cpython.git